.main-nav {
    margin: 5px auto;
    padding-left: 45%;
    width: 55%;

    li {
        list-style-type: none;
        display: inline-block;
        padding: 0px 2%;
    }

    a {
        color: #754b23;
        font-size: 0.75rem;
        text-decoration: none;
        font-family: sans-serif;
    }
}