.scheduleTable {
    
    .scheduleRow {

        .day,
        .time {
            width: 152px;
            height: 35px;
            display: inline-block;
            background-color: #f6ede6;
            text-align: center;
            margin:5px;
            line-height: 35px;
        }

        .time {
            width: 218px;
        }
    }
}