.about {
    .content {

        .main {
            font-family: sans-serif, 'Times New Roman';
            width: 70%;
            display: table-cell;
            padding: 2% 5% 0px;
            text-align: justify;

            .subtitle {
                font-size: 1.25rem;
                font-weight: bold;
            }
        }

        .side {
            position: relative;
            width: 30%;
            display: table-cell;
            background-image: url(../../assets/images/strips1.png);
            background-repeat: repeat-y;
            background-position-x: right;

            img {
                position: absolute;
                top:20%;
                left:2%;
            }
        }

    }

    .aboutFooter {
        margin:2% 0px;
    }
}